html {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

h1, h2 {
  color: white;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.copy {
  color: gray;
  text-align: right;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

h3 {
  font-size: 21px;
  color: gray;
}
